# Ignorar node_modules
node_modules/

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de construcción
dist/
build/

# Ignorar configuraciones del editor
.vscode/
.idea/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db